$btn_primary: $primary_blue_lighter;
$btn_secondary: $primary_blue_darker;
$btn_font_primary: $font_primary_light;

a{
  cursor: pointer;
  &.btn{
    position: relative;
    padding: 0 3rem;
    background: $btn_primary;
    color: $btn_font_primary;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    text-transform: uppercase;
    @include transform(perspective(1px) translateZ(0));
    @include transitionProperty(color);
    @include transitionDuration(0.3s);
    @include fontSWHS(1.4rem, 600, 5rem, initial);
    @include border-radius(25px);
    &.btn-transparent{
      background: transparent;
      border: 1.5px solid $font_primary_light;
      &.btn-transparent-blue{
        color: $primary_blue_lighter;
        border: 1.5px solid $primary_blue_lighter;
        &::before {
          background: $primary_blue_lighter;
        }
        &:hover{
          color: $font_primary_light;
        }
      }
      &:hover{
        color: $font_primary_dark;
      }
      &::before {
        background: $font_primary_light;
      }
    }
    &:hover, &:focus, &:active{
      &:before{
        @include transform(scaleX(1));
      }
    }
  }
  &.btn-animation-right{
    &::before{
      @include transformOrigin(0 50%);
    }
  }
  &.btn-animation-left{
    &::before{
      @include transformOrigin(100% 50%);
    }
  }
  &.btn-animation-bottom{
    &::before{
      @include transform(scaleY(0));
      @include transformOrigin(50% 0);
    }
  }
  &.btn-animation-top{
    &::before{
      @include transform(scaleY(0));
      @include transformOrigin(50% 100%);
    }
  }
    &::before {
      content: "";
      z-index: -1;
      background: $btn_secondary;
      @include border-radius(25px);
      @include fullscreen(absolute, 0, 0, 0, 0);
      @include transitionProperty(transform);
      @include transitionDuration(0.3s);
      @include transform(scaleX(0));
  }
}

button{
  cursor: pointer;
  &.btn{
    position: relative;
    padding: 0 3rem;
    background: $btn_primary;
    color: $btn_font_primary;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 5rem;
    text-transform: uppercase;
    @include transform(perspective(1px) translateZ(0));
    @include transitionProperty(color);
    @include transitionDuration(0.3s);
    @include fontSWHS(1.4rem, 600, 5rem, initial);
    @include border-radius(25px);
    &.btn-transparent{
      background: transparent;
      border: 1.5px solid $font_primary_light;
      &.btn-transparent-blue{
        border: 1.5px solid $primary_blue_lighter;
        &::before {
          background: $primary_blue_lighter;
        }
      }
      &:hover{
        color: $font_primary_dark;
      }
      &::before {
        background: $font_primary_light;
      }
    }
    &:hover, &:focus, &:active{
      &:before{
        @include transform(scaleX(1));
      }
    }
  }
  &.btn-animation-right{
    &::before{
      @include transformOrigin(0 50%);
    }
  }
  &.btn-animation-left{
    &::before{
      @include transformOrigin(100% 50%);
    }
  }
  &.btn-animation-bottom{
    &::before{
      @include transform(scaleY(0));
      @include transformOrigin(50% 0);
    }
  }
  &.btn-animation-top{
    &::before{
      @include transform(scaleY(0));
      @include transformOrigin(50% 100%);
    }
  }
  &::before {
    content: "";
    z-index: -1;
    background: $btn_secondary;
    @include border-radius(25px);
    @include fullscreen(absolute, 0, 0, 0, 0);
    @include transitionProperty(transform);
    @include transitionDuration(0.3s);
    @include transform(scaleX(0));
  }
}
