.text_align{
  &_left{
    text-align: left;
  }
  &_center{
    text-align: center;
  }
  &_right{
    text-align: right;
  }
}

.click{
  &_disabled{
    pointer-events: none;
  }
  &_not_allowed{
    cursor: not-allowed !important;
  }
  &_disabled_not_allowed{
    pointer-events: none !important;
    cursor: not-allowed !important;
    opacity: .75 !important;
  }
  &_link{
    cursor: pointer;
    &_colored{
      cursor: pointer;
      color: $primary_blue_darker;
      &:hover{
        color: $font_primary_hover;
      }
    }
    &:hover{
      color: $font_primary_hover;
    }
  }
}

.margin{
  &_all{
    &_1{
      margin: 1rem;
    }
    &_2{
      margin: 2rem;
    }
  }
  &_tb{
    &_1{
      margin: 1rem 0;
    }
    &_2{
      margin: 2rem 0;
    }
  }
  &_rl{
    &_1{
      margin: 0 1rem;
    }
    &_2{
      margin: 0 2rem;
    }
  }
  &_t{
    &_1{
      margin-top: 1rem;
    }
    &_2{
      margin-top: 2rem;
    }
    &_3{
      margin-top: 3rem;
    }
    &_4{
      margin-top: 4rem;
    }
  }
  &_r{
    &_1{
      margin-right: 1rem;
    }
    &_2{
      margin-right: 2rem;
    }
  }
  &_b{
    &_1{
      margin-bottom: 1rem;
    }
    &_2{
      margin-bottom: 2rem;
    }
  }
  &_l{
    &_1{
      margin-left: 1rem;
    }
    &_2{
      margin-left: 2rem;
    }
  }
}

.bg{
  &_color{
    &_dark_grey{
      background-color: #333333;
    }
  }
}

.font{
  &_color{
    &_white{
      color: #FFFFFF;
    }
  }
}

// Text Overflow

.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-overflow-reset{
  white-space: initial;
}

// Overflow
.overflow-hidden{
  overflow: hidden;
}

// Fake hidden
.fake-hidden{
  display: none;
}
