@mixin border-radius($border-radius) {
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin transformOrigin($origin) {
  -webkit-transform-origin: $origin;
  -moz-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -o-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transitionDuration($duration) {
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
  -ms-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;
}

@mixin transitionProperty($property) {
  -webkit-transition-property: $property;
  -moz-transition-property: $property;
  -ms-transition-property: $property;
  -o-transition-property: $property;
  transition-property: $property;
}

@mixin box-shadow($box-shadow) {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

// PRE-MADE MIXINS
@mixin gradientPrimaryBg{
  background: #242020;
  /* Old Browsers */background: -moz-radial-gradient(center, ellipse cover, #242020 0%, #0f0f0f 100%);
  /* FF3.6+ */background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #242020), color-stop(100%, #0f0f0f));
  /* Chrome, Safari4+ */background: -webkit-radial-gradient(center, ellipse cover, #242020 0%, #0f0f0f 100%);
  /* Chrome10+,Safari5.1+ */background: -o-radial-gradient(center, ellipse cover, #242020 0%, #0f0f0f 100%);
  /* Opera 11.10+ */background: -ms-radial-gradient(center, ellipse cover, #242020 0%, #0f0f0f 100%);
  /* IE 10+ */background: radial-gradient(ellipse at center, #242020 0%, #0f0f0f 100%);
  /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242020', endColorstr='#0f0f0f', GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

@mixin gradientPrimaryNavbar{
  background: #b20738;
  /* Old Browsers */background: -moz-linear-gradient(left, #b20738 0%, #570b1f 100%);
  /* FF3.6+ */background: -webkit-gradient(left top, right top, color-stop(0%, #b20738), color-stop(100%, #570b1f));
  /* Chrome, Safari4+ */background: -webkit-linear-gradient(left, #b20738 0%, #570b1f 100%);
  /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(left, #b20738 0%, #570b1f 100%);
  /* Opera 11.10+ */background: -ms-linear-gradient(left, #b20738 0%, #570b1f 100%);
  /* IE 10+ */background: linear-gradient(to right, #b20738 0%, #570b1f 100%);
  /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b20738', endColorstr='#570b1f', GradientType=1 );
  /* IE6-9 */
}

@mixin gradientSecondaryBg{
  background: #ffffff;
  /* Old Browsers */background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #f6f6ed 100%);
  /* FF3.6+ */background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #f6f6ed));
  /* Chrome, Safari4+ */background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #f6f6ed 100%);
  /* Chrome10+,Safari5.1+ */background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #f6f6ed 100%);
  /* Opera 11.10+ */background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #f6f6ed 100%);
  /* IE 10+ */background: radial-gradient(ellipse at center, #ffffff 0%, #f6f6ed 100%);
  /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6ed', GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

@mixin fullscreen($position: relative, $top: initial, $right: initial, $bottom: initial, $left: initial){
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin fontSmoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin gradinetSectionBg {
  background: #efa02a;
  /* Old Browsers */background: -moz-linear-gradient(left, #efa02a 0%, #e64b8e 100%);
  /* FF3.6+ */background: -webkit-gradient(left top, right top, color-stop(0%, #efa02a), color-stop(100%, #e64b8e));
  /* Chrome, Safari4+ */background: -webkit-linear-gradient(left, #efa02a 0%, #e64b8e 100%);
  /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(left, #efa02a 0%, #e64b8e 100%);
  /* Opera 11.10+ */background: -ms-linear-gradient(left, #efa02a 0%, #e64b8e 100%);
  /* IE 10+ */background: linear-gradient(to right, #efa02a 0%, #e64b8e 100%);
  /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efa02a', endColorstr='#e64b8e', GradientType=1 );
  /* IE6-9 */
}

@mixin gradientSectionOverlay {
  background: rgba(0,0,0,1);
  /* Old Browsers */background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(230,75,142,0) 100%);
  /* FF3.6+ */background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(230,75,142,0)));
  /* Chrome, Safari4+ */background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(230,75,142,0) 100%);
  /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(230,75,142,0) 100%);
  /* Opera 11.10+ */background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(230,75,142,0) 100%);
  /* IE 10+ */background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(230,75,142,0) 100%);
  /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e64b8e', GradientType=1 );
  /* IE6-9 */
}

// FONT WEIGTH BY NAME
@mixin fontThin{
  font-weight: 100;
}

@mixin fontExtraLight{
  font-weight: 200;
}

@mixin fontLight{
  font-weight: 300;
}

@mixin fontRegular{
  font-weight: 400;
}

@mixin fontMedium{
  font-weight: 500;
}
@mixin fontSemiBold{
  font-weight: 600;
}

@mixin fontBold{
  font-weight: 700;
}

@mixin fontExtraBold{
  font-weight: 800;
}

@mixin fontBlack{
  font-weight: 900;
}

// Clearfix
@mixin cf {
  overflow: auto;
  clear: both;
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
