@mixin animationTransformTopToBottom{
  @include transform(translateY(-100%));
  @include transition(transform .7s);
  animation-delay: 1s;
}

@mixin animationTransformRightToLeft{
  @include transform(translateX(100%));
  @include transition(transform .7s);
  animation-delay: 1s;
}

@mixin animationTransformLeftToRight{
  @include transform(translateX(-100%));
  @include transition(transform .7s);
  animation-delay: 1s;
}

@mixin animationTransformReset{
  @include transform(translateX(0%));
  animation-delay: 1s;
}
