<template>
  <div id="layout">
    <section class="container">
      Layout
    </section>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default{
    middleware: 'auth',

    layout: 'main',

    head() {
      return {title: 'Layout'}
    },

    computed: mapGetters({
      user: 'auth/user'
    }),

    beforeMount() {
      console.log(this.user);
    }
  }

</script>

<style lang="scss" scoped>
  @import "~assets/styles/pages/layout/layout";

</style>
