$primary_color_dark: #000000;
$secondary_color_dark: #444754;
$primary_color_light: #ffffff;

$primary_blue_darker: #0791ff;
$primary_blue_lighter: #0080FF;

$font_primary_dark: #000000;
$font_primary_light: #f6f6ed;
$font_primary_hover: $primary_blue_lighter;
