html, body, h1, h2, h3, h4, h5, h6, p, ul, li {
  padding: 0;
  margin: 0;
}

button{
  border: none;
}

ul{
  list-style: none;
}

a{
  color: initial;
  text-decoration: none;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #71859D inset;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: #3a3c4c !important;
}
