@import "~assets/styles/variables/variables";
@import "~assets/styles/variables/colors";
@import "~assets/styles/helpers/mixins";
@import "~assets/styles/layout/typography";

#welcome{
  background-color: $primary_color_dark;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}
