<template>
  <div id="welcome">
    <section class="container">
      Welcome to starter template
      <span v-tooltip.top="'This is Nuxt.js starter template'"> - Hover me</span>
    </section>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  middleware: 'auth',

  layout: 'main',

  head() {
    return {title: 'Welcome'}
  },

  data: () => ({
    title: process.env.appName
  }),

  computed: mapGetters({
    authState: 'auth/authState'
  })

}
</script>

<style lang="scss" scoped>
  @import "~assets/styles/pages/index";

</style>

