@font-face {
  font-family: 'icomoon';
  src:  url('~assets/fonts/icomoon.eot?p9ki3p');
  src:  url('~assets/fonts/icomoon.eot?p9ki3p#iefix') format('embedded-opentype'),
  url('~assets/fonts/icomoon.ttf?p9ki3p') format('truetype'),
  url('~assets/fonts/icomoon.woff?p9ki3p') format('woff'),
  url('~assets/fonts/icomoon.svg?p9ki3p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  position: relative;
  top: -1px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-play .path1:before {
  content: "\e91c";
  color: rgb(52, 152, 134);
}
.icon-google-play .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(61, 179, 158);
}
.icon-google-play .path3:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(244, 180, 89);
}
.icon-google-play .path4:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(226, 87, 76);
}
.icon-circle-empty-play:before {
  content: "\e919";
}
.icon-circle-full-agree:before {
  content: "\e91a";
}
.icon-circle-full-play:before {
  content: "\e91b";
}
.icon-agree:before {
  content: "\e900";
}
.icon-apple:before {
  content: "\e901";
}
.icon-arrow-left-slider:before {
  content: "\e902";
}
.icon-arrow-right-slider:before {
  content: "\e903";
}
.icon-arrow-right-subscribe:before {
  content: "\e904";
}
.icon-bar-chart:before {
  content: "\e905";
}
.icon-blubb:before {
  content: "\e906";
}
.icon-calculator:before {
  content: "\e907";
}
.icon-calendar:before {
  content: "\e908";
}
.icon-doc-search:before {
  content: "\e909";
}
.icon-document-dotted:before {
  content: "\e90a";
}
.icon-dot:before {
  content: "\e90b";
}
.icon-facebook:before {
  content: "\e90c";
}
.icon-logo:before {
  content: "\e90d";
}
.icon-monitor:before {
  content: "\e90e";
}
.icon-pie-chart:before {
  content: "\e90f";
}
.icon-play:before {
  content: "\e910";
}
.icon-repeat-circle:before {
  content: "\e911";
}
.icon-rocket:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e913";
}
.icon-statistics:before {
  content: "\e914";
}
.icon-triangle:before {
  content: "\e915";
}
.icon-twitter:before {
  content: "\e916";
}
.icon-weight-measure:before {
  content: "\e917";
}
.icon-youtube:before {
  content: "\e918";
}
